body::-webkit-scrollbar {
    width: 0.9em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.75);
  outline: 1px solid slategrey;
}

*{
	margin: 0;
}

body{
	background-color: rgba(89, 171, 227, 0.65); /*rgba(191, 191, 191, 0);*/
	overflow-x: hidden;
	min-height: 100%;
	background-image: url(images/innovation00.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

a{ 
	text-decoration: none;
	color: inherit;
}

.navigation{
	position: fixed;
	right: 0%;
	top: 1%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 10px;
	margin: auto;
	font-family: 'Expletus Sans', cursive;
	font-size: 30px;
	background-color: white;
	opacity: 0.95;
	width: 100%;
	z-index: 1;
}

.myDesignProcess{
	min-height: 100vh;
}

.workFlow{
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 120px auto 20px auto;
	background-color: rgba(0,0,0,0.7);
}

.tag{
	font-family: 'Expletus Sans', cursive;;
	font-size: 2em;
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
	color: white;
	font-weight: bolder;
	text-shadow: ;
}

img{
	width: 350px;
	height: 175px;
	margin: 10px;
	border-radius: 10px;	
}

img:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.tools{
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 50px auto 20px auto;
	background-color: rgba(0,0,0,0.7);
}

.txtTools{
	font-family: 'Expletus Sans', cursive;;
	font-size: 2em;
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
	color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
